Options +FollowSymlinks
RewriteEngine On

RewriteRule ^$ controler.php [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9_-]+)$ controler.php?act=$1&id=$2 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9_-]+)/$ controler.php?act=$1&id=$2 [L]
RewriteRule ^([a-zA-Z0-9_-]+)$ controler.php?act=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ controler.php?act=$1 [L]