body{
    overflow-x:hidden;
}

header{
    
}
header {
    background-color: #1F4788;
    color: #FFF;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#login{
    background:url('../images/background-login.jpg') 100% 100% no-repeat;
    background-size: cover;
    position:absolute;
    width:100%;
    min-height:100%;
    margin:0;
}

.couverture {
    float:left;
    padding:15px;
    max-height: 200px;
}

.info {
    font-size:0.8em;
}
